KERNEL_DIR=private/msm-google
UNSTRIPPED_MODULES="
wlan.ko
"
. ${ROOT_DIR}/${KERNEL_DIR}/build.config.common.clang
POST_DEFCONFIG_CMDS="check_defconfig && update_debug_config"
function update_debug_config() {
    ${KERNEL_DIR}/scripts/config --file ${OUT_DIR}/.config \
        -e CONFIG_DEVTMPFS \
        -e CONFIG_CGROUPS \
        -e CONFIG_INOTIFY_USER \
        -e CONFIG_SIGNALFD \
        -e CONFIG_TIMERFD \
        -e CONFIG_EPOLL \
        -e CONFIG_UNIX \
        -e CONFIG_UNIX_DIAG \
        -e CONFIG_SYSFS \
        -e CONFIG_PROC_FS \
        -e CONFIG_FHANDLE \
        -e CONFIG_DMIID \
        -e CONFIG_NET_NS \
        -e CONFIG_USER_NS \
        -e CONFIG_CGROUP_SCHED \
        -e CONFIG_FAIR_GROUP_SCHED \
        -e CONFIG_CFS_BANDWIDTH \
        -e CONFIG_DEVPTS_MULTIPLE_INSTANCES \
        -e CONFIG_PSI \
        -e CONFIG_DEVTMPFS_MOUNT \
        -e CONFIG_VT \
        -e CONFIG_NAMESPACES \
        -e CONFIG_MEMCG \
        -e CONFIG_CGROUP_DEVICE \
        -e CONFIG_SYSVIPC \
        -e CONFIG_FANOTIFY \
        -e CONFIG_DNS_RESOLVER \
        -e CONFIG_SYN_COOKIES \
        -e CONFIG_VT \
        -e CONFIG_VT_CONSOLE \
        -e CONFIG_FSNOTIFY \
        -e CONFIG_DNOTIFY \
        -e CONFIG_INOTIFY_USER \
        -e CONFIG_FANOTIFY \
        -e CONFIG_FANOTIFY_ACCESS_PERMISSIONS \
        -e CONFIG_AUTOFS4_FS \
        -e CONFIG_VETH \
        -e CONFIG_VLAN_8021Q \
        -e CONFIG_NF_NAT_IPV6 \
        -e CONFIG_NETFILTER_XT_TARGET_CHECKSUM \
        -e CONFIG_INET_DIAG \
        -e CONFIG_PACKET_DIAG \
        -e CONFIG_NETLINK_DIAG \
        -e CONFIG_MACVLAN \
        -e CONFIG_QCA_CLD_WLAN \
        -e CONFIG_QCACLD_WLAN_LFR3 \
        -e CONFIG_PRIMA_WLAN_OKC \
        -e CONFIG_PRIMA_WLAN_11AC_HIGH_TP \
        -e CONFIG_WLAN_FEATURE_11W \
        -e CONFIG_WLAN_FEATURE_LPSS \
        -e CONFIG_QCOM_VOWIFI_11R \
        -e CONFIG_QCACLD_FEATURE_NAN \
        -e CONFIG_WLAN_FEATURE_NAN_DATAPATH \
        -e CONFIG_QCACLD_FEATURE_GREEN_AP \
        -e CONFIG_HELIUMPLUS \
        -e CONFIG_64BIT_PADDR \
        -e CONFIG_QCOM_TDLS \
        -e CONFIG_QCOM_LTE_COEX \
        -e CONFIG_MPC_UT_FRAMEWORK \
        -e CONFIG_WLAN_OFFLOAD_PACKETS \
        -e CONFIG_FEATURE_TSO \
        -e CONFIG_FEATURE_TSO_DEBUG \
        -e CONFIG_WLAN_FASTPATH \
        -e CONFIG_WLAN_NAPI \
        -e CONFIG_WLAN_NAPI_DEBUG \
        -e CONFIG_WLAN_TX_FLOW_CONTROL_V2 \
        -e CONFIG_WLAN_SYNC_TSF \
        -e CONFIG_LFR_SUBNET_DETECTION \
        -e CONFIG_MCC_TO_SCC_SWITCH \
        -e CONFIG_QCACLD_WLAN_LFR2 \
        -e CONFIG_WLAN_FEATURE_DISA \
        -e CONFIG_WLAN_SPECTRAL_SCAN \
        -e CONFIG_ICMP_DISABLE_PS \
        -e CONFIG_BUILD_TIMESTAMP \
        -e CONFIG_PSI \
        -e CONFIG_WLAN_FEATURE_FILS \
         -d CONFIG_VT_HW_CONSOLE_BINDING \
         -d CONFIG_CC_WERROR \
         -d LTO \
         -d LTO_CLANG \
         -d CFI \
         -d CFI_PERMISSIVE \
         -d CFI_CLANG
    (cd ${OUT_DIR} && \
     make O=${OUT_DIR} $archsubarch CC=${CC} CROSS_COMPILE=${CROSS_COMPILE} olddefconfig)
}
